<p>
	<span class="tip">本站大量采用HTML5与CSS3技术，IE9以下的IE版本将不被支持。推荐使用Chrome、Safari或Firefox的最新版浏览本站。</span><br>
  Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} -
  <span class="credit">Theme by <a href="{{ root_url }}/">Nick3</a></span>
</p>
<p class="right">
	<!-- a href="http://www.w3.org/html/logo/">
		<img src="http://nick3-wordpress.stor.sinaapp.com/uploads/2012/01/html5-badge-h-css3-multimedia-semantics-1.png" width="120" height="40" alt="HTML5 Powered with CSS3 / Styling, Multimedia, and Semantics" title="HTML5 Powered with CSS3 / Styling, Multimedia, and Semantics">
	</a -->
	<a href="https://github.com" style="margin-right: 12px">
		<img src="http://nick3-wordpress.stor.sinaapp.com/uploads/2012/01/github_logo.png" width="83" height="38" alt="Hosting by GitHub" title="Hosting by GitHub"/>
	</a>
	<a href="http://octopress.org">
		<img src="http://nick3-wordpress.stor.sinaapp.com/uploads/2012/01/octopress_logo.png" width="147" height="38" alt="Powered by Octopress" title="Powered by Octopress"/>
	</a>
</p>
